.inline {
  display: inline;
}

.calcButton {
  height: 30px;
  width: 50px;
  margin-bottom: 5px;
}

#calcOutput {
  height: 30px;
  width: 203px;
  border-style: solid;
  text-align: right;
  padding-right: 5px;
}

input {
  font-size: 18px;
}

.column {
  display: inline-block;
}

.columnLeft {
  text-align: right;
}

.columnRight {
  text-align: left;
}

.calcWrapper {
  text-align: center;
}

.calculator {
  width: 250px;
  margin: 0 auto;
  border-style: solid;
  background-color: #dddddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}
