.inline {
  display: inline;
}

.calculator {
  border-style: solid;
  text-align: center;
}

.calcButton {
  height: 30px;
  width: 50px;
  margin-bottom: 5px;
}

#calcOutput {
  height: 30px;
  width: 203px;
  border-style: solid;
  text-align: right;
  padding-right: 5px;
}

input {
  font-size: 18px;
}

.column {
  display: inline-block;
}

.columnLeft {
  text-align: right;
}

.columnRight {
  text-align: left;
}

.calcWrapper {
  width: auto;
  text-align: center;
      margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}
