html,
body {
    background-color: #7ACEF3;
    font-size: 1.1em;
    margin: 0;
    height: 100%;
}

.body-content {
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 60px;
}

.inline {
    display: inline;
}

.calcButton {
    height: 30px;
    width: 50px;
    margin-bottom: 5px;
}

#calcOutput {
    height: 30px;
    width: 203px;
    border-style: solid;
    text-align: right;
    padding-right: 5px;
}

input {
    font-size: 18px;
}

.column {
    display: inline-block;
}

.columnLeft {
    text-align: right;
}

.columnRight {
    text-align: left;
}

.calcWrapper {
    text-align: center;
}

.calculator {
    width: 250px;
    margin: 0 auto;
    border-style: solid;
    background-color: #dddddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.dateArea {
    text-align: center;
}

.navbar {
    margin-left: 0;
    margin-right: 0;
    background-color: #FF8A00;
    font-weight: bolder;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #FF8A00;
}

#container {
    min-height: 100%;
    position: relative;
}

.tableSpacer {
    width: 50px;
}